.country {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
}

h3 {
  margin: 0;
  padding: 0;
}

.name-country {
  text-align: center;
  padding-bottom: 10px;
}
.wrapper {
  padding: 10px 0;
}

.characters-country {
  list-style: none;
}

.chapter {
  color: grey;
  font-size: 18px;
}

.property {
  color: black;
}
