ul {
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  //   position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  user-select: none;
}

li:nth-child(odd) {
  background: #f9f9f9;
}

li:hover {
  background: #ddd;
}
